

<!DOCTYPE html>
<html>
<head>
	<title>Finance Admin Page</title>
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


	<!--Custom styles-->
</head>
<body>

<html>
<head>
	<style type="text/css">
		.sidenav {
			height:100%;
			width:250px;
			position: fixed;
			z-index:1;
			top:0;
			left:0;
			background-color:#111;
			overflow-x: hidden;
			padding-top:20px;
		}
 
		.sidenav a {
			padding:6px 8px 6px 16px;
			text-decoration: none;
			font-size:25px;
			color: #818181;
			display:block;
		}
 
		.sidenav a:hover{
			color:#f1f1f1;
		}	
 
		.main{
			margin-left:160px;
			padding: 0px 10px;
		}
 
	</style>
	<title>{% block title %}Admin Portal{% endblock %}</title>
</head>
<!--Application Monitoring, Tech Support, App Development, App Admin, Release Management-->
<body>
	<div class="sidenav">
        <a href="/"><h2>Admin Portal</h2> </a>
		<a href="/users"><h5>Manage Users</h5></a>
		<a href="/assign"><h5>Assign Roles</h5></a>
		<a href="/help"><h5>Help Desk</h5></a>
        <a href="/redirect"><h5>Application Monitoring</h5></a>
		<a href="/redirect"><h5>Tech support</h5></a>
		<a href="/redirect"><h5>App Development</h5></a>
        <a href="/redirect"><h5>App Admin</h5></a>
        <a href="/redirect"><h5>Release Management</h5></a>
	</div>
 
	{% block content %}
	{% endblock %}
 
</body>
</html>

</body>
</html>