<!DOCTYPE html>
<html>
<head>
	<title>Finance Admin Page</title>
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<style>
    .navbar-collapse.collapse.in {
        display: block!important;
    }
</style>
	<!--Custom styles-->
</head>
<body>
<!--
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Admin Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        
    </nav>
--> 
<html>
<head>
	<style type="text/css">
		.sidenav {
			height:100%;
			width:200px;
			position: fixed;
			z-index:1;
			top:0;
			left:0;
			background-color:#111;
			overflow-x: :hidden;
			padding-top:20px;
		}
 
		.sidenav a {
			padding:6px 8px 6px 16px;
			text-decoration: none;
			font-size:25px;
			color: #818181;
			display:block;
		}
 
		.sidenav a:hover{
			color:#f1f1f1;
		}	
 
		.main{
			margin-left:160px;
			padding: 0px 10px;
		}
 
	</style>
	<title>{% block title %}Admin Portal{% endblock %}</title>
</head>
 
<body>
	<div class="sidenav">
        <a href="/">Admin Portal </a>
		<a href="/users">Manage Users</a>
		<a href="/assign">Assign Roles</a>
		<a href="/help">Help Desk</a>
	</div>
 
	{% block content %}
	{% endblock %}
 
</body>
</html>

</body>
</html>