<!DOCTYPE html>
<html>
<head>
	<title>Global Page</title>
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Admin Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            

            <div class= "collapse navbar-collapse justify-content-end">
                
                <ul class ="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Manage User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Assign Role</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help Desk</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

</div>
</body>
</html>