<!DOCTYPE html>
<html>
<head>
	<title>Sales Admin Page</title>
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<style>
    .navbar-collapse.collapse.in {
        display: block!important;
    }
</style>
	<!--Custom styles-->
</head>
<body>

<html>
<head>
	<style type="text/css">
		.sidenav {
			height:100%;
			width:250px;
			position: fixed;
			z-index:1;
			top:0;
			left:0;
			background-color:#111;
			overflow-x: hidden;
			padding-top:20px;
		}
 
		.sidenav a {
			padding:6px 8px 6px 16px;
			text-decoration: none;
			font-size:25px;
			color: #818181;
			display:block;
		}
 
		.sidenav a:hover{
			color:#f1f1f1;
		}	
 
		.main{
			margin-left:160px;
			padding: 0px 10px;
		}
 
	</style>
	<title>{% block title %}Admin Portal{% endblock %}</title>
</head>
 
<body>
	<div class="sidenav">
        <a href="#"><h2>Admin Portal</h2> </a>
		<a href="/users"><h5>Manage Users</h5></a>
		<a href="/redirect"><h5>Assign Roles</h5></a>
		<a href="/redirect"><h5>Help Desk</h5></a>
        <a href="/redirect"><h5>Reports</h5></a>
		<a href="/redirect"><h5>Sales Leads</h5></a>
		<a href="/redirect"><h5>Demo</h5></a>
		<form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'user_logout' %}">
                    {% csrf_token %}
                    <a href="{% url 'user_login' %}">
                        <span class="mr-sm-2">{{request.user.first_name}}</spans>
                    </a>
                    <input type="submit" class="btn btn-outline-danger my-2 my-sm-0" value="Logout">
        </form>
	</div>
 
	{% block content %}
	{% endblock %}
 
</body>
</html>

</body>
</html>