{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html lan="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-length initial-scale = 1.0">
    <meta http-equiv="X-UA-compatible" content="ie-edge">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Custom styles-->
	{% load static %} 
	<link href="{% static 'styles/signup.css' %}" rel="stylesheet">

    <title>Admin Site{% block title %} {% endblock %}</title>
</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Admin Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          

          <div class= "collapse navbar-collapse justify-content-end">
              <ul class ="navbar-nav">
                  <li>
                    <a class= "nav-link sing-log-in" href="{% url 'register'%}?next={{request.path}}">Sign Up</a>
                  </li>
              </ul>
          </div>

        </div>
      </nav>
       <!--End Navbar-->

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class ="card">
        <fieldset class="form-group">
        <div class="card-header">
            <h3>Sign Up</h3>
            {{ form|crispy }}
        </div>
        </div> 
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
        </div> 
    </form>

    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="#">Sign In</a>
        </small>
    </div>
</div>
</body>
{% endblock content %}
</html>